<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesc Movie</title>
</head>
<body>
    <h1>New Movie</h1>
    <form action="/movies" method="POST" enctype="multipart/form-data">
        <p>제목 : <input name="title" /></p>
        <p>포스터 : <input name="poster" type="file"/></p>
        <p><input type="submit" /></p>
    </form>    
</body>
</html>